@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --side-title-color: hsl(35, 77%, 62%);
  --btn-background: hsl(5, 85%, 63%);
  --paragraph: 15px;
  --lightWeight: 400;
  --mediumWeight: 700;
  --heavyWeight: 800;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
}

/* Mobile styles */
.app {
  width: 480;
  margin: 0 auto;
  padding: 20px 15px
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
/* NAVIGATION */
nav .header__links__mobile {
  position: fixed;
  display: block;
  width: 70%;
  height: 100vh;
  background: #042331;
  color: #fff;
  line-height: 40px;
  padding-top: 92px;
  right: -200%;
  top: 0;
  bottom: 0;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.header__links__mobile > li {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
  font-weight: var(--mediumWeight);
}
.header__links__mobile li a:hover {
  padding-left: 50px;
}
.header__links__mobile > li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.show__nav > .mobile__icon {
  display: none;
}
.show__nav > .header__links__mobile {
  right: 0;
}
.show__nav > .close__nav {
  display: block;
  z-index: 999;
  color: #fff;
}
nav .close__nav {
  position: absolute;
  top: 20px;
  right: 15px;
}

/* DESKTOP NAVIGATION */
.desktop__navigation__links  {
  display: none;
}

/* Hero section  */
.hero__section {
  margin-top: 40px;
}

.hero__section__images > .hero__section__desktop__image {
  display: none;
}

.hero__content {
  margin-top: 20px;
}

.content {
  margin-top: 20px;
}
.btn {
  background: var(--btn-background);
  color: #fff;
  font-weight: var(--heavyWeight);
  padding: 10px 50px;
  margin-top: 28px;
}

/* New section  */
.new__section {
  margin-top: 60px;
  padding: 25px 20px;
}

.new__section__cars, .new__section__ai, .new__section__vc {
  margin: 25px 0;
}

.new__section__vc {
  margin-bottom: 0;
}

.new__section__cars > h2, .new__section__ai > h2, .new__section__vc > h2 {
  font-size: 18px;
}

.new__section__cars > p, .new__section__ai > p, .new__section__vc > p {
  margin-top: 6px;
  font-size: 15px;
}
.new__section__title {
  color: var(--side-title-color);
}

/* POPULAR SECTION  */

.popular__section {
  margin: 60px 0 0 0;
}
.popular__section h2 {
  font-size: 18px;
  font-weight: var(--heavyWeight);
}

/* Desktop styles */
@media only screen and (min-width: 480px) {
  .app {
    width: 1440px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    height: 100vh;
  }
  /* navigation  */
  .desktop__navigation__links  {
    display: flex;
  }
  .desktop__nav__links:hover {
    color: var(--btn-background);
  }

  .mobile__icon {
    display: none;
  }
  .main__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-top: 40px;
  }
  /* HERO SECTION  */
  .hero__section {
    margin-top: 0;
  }
  .hero__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
 
  .hero__content h1 {
    font-size: 63px;
  }
  .hero__content > .content, .hero__content > .title {
    margin-top: 20px;
  }
  .hero__section__images > .hero__section__mobile__image {
    display: none;
  }
  .hero__section__images > .hero__section__desktop__image {
    display: block;
    width: 950px;
    height: 350px;
  }
  
  .btn {
    background: var(--btn-background);
    color: #fff;
    font-weight: var(--heavyWeight);
    padding: 15px 80px;
    font-size: 20px;
    margin-top: 28px;
  }

  /* new section  */
  .new__section {
    margin-top: 0;
    padding: 40px 30px;
  }

  .new__section__cars, .new__section__ai, .new__section__vc {
    margin: 38px 0;
  }

  .new__section__vc {
    margin-bottom: 0;
  }

  .new__section__cars > h2, .new__section__ai > h2, .new__section__vc > h2 {
    font-size: 25px;
    cursor: pointer;
  }

  .new__section h2:hover {
    color: var(--side-title-color);
  }

  .new__section__cars > p, .new__section__ai > p, .new__section__vc > p {
    margin-top: 6px;
    font-size: 17px;
    font-weight: var(--lightWeight);
  }

  /* POPULAR SECTION  */

  .popular__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
 .popular__section h2 {
    font-size: 20px;
    font-weight: var(--heavyWeight);
    cursor: pointer;
  }

  .popular__section h2:hover {
    color: var(--btn-background);
  }
 
}
